
  <div class='welcome-dash'>
    <h1 class='pt-3'>Welcome, <%= @user.name%> </h1>
  </div>

<div class='container mt-5 container-dashboard w-100'>

  <div class='dashboard-item-1'>
    <h1> My meetings </h1>
          <div class='line-wish'>
        <hr class='w-50 py-auto'>
      </div>
  </div>

  <div class='dashboard-item-2'>
    <h1> My wishlist </h1>
      <div class='line-wish'>
        <hr class='w-50 py-auto'>
      </div>

    <% if @wishlist.empty? %>
      <h3>Nothing here yet.</h3>
    <% else %>
      <div class='each-wish'>
        <% @wishlist.each do |item| %>
        <p><%= item.lesson.title %>
        <%= link_to "Remove",
                      wishlist_item_path(item),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class='dashboard-item-3'>

    <h1>Recent activities</h1>
    <div class='line-wish'>
    <hr class='w-50 py-auto'>
  </div>


    <% @user.following.each do | following | %>
      <% following.lessons.each do | lesson | %>
        <%= lesson.title %>
      <% end %>
    <% end %>

    <% @user.following.each do | following | %>
      <% following.meetings.each do | meeting | %>
        <%= meeting.lesson.title %>
      <% end %>
    <% end %>
  </div>


  </div>

</div>
