<div class='container'>

    <% if @lesson.photo.attached?%>
      <div class="banner" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.12) 0, rgba(0,0,0,0.55) 74.4%),url('<%= cl_image_path @lesson.photo.key, crop: :thumb, gravity: :face %>')">
        <h1 class="text-center"> <%= @lesson.title %></h1>
      </div>
    <% else %>
      <div class="banner" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.12) 0, rgba(0,0,0,0.55) 74.4%),url('<%= image_path 'lessons.jpg' %>')">
        <h1 class="text-center"> <%= @lesson.title %></h1>
      </div>
    <% end %>



  <h4 class='pt-3'><%= @lesson.description %></h4>
  <h6><%= @lesson.start_date %> | <%= @lesson.end_date %></h6>

  <div class='lesson-edit'>
    <%= link_to edit_lesson_path(@lesson) do %>
      <i class="fas fa-pen-square"></i>
    <% end %>
    <%= link_to lesson_path(@lesson), method: :delete, data: { confirm: "Are you sure?" }  do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>

  <div class='pt-3 bt-'>
    <% unless current_user.wishlist_lessons.include?(@lesson)%>
      <%= simple_form_for [ @lesson, @wishlist_item ] do |f| %>
        <%= f.submit "Add to wishlist", class: 'btn btn-outline-dark' %>
      <% end%>
    <% end %>
  </div>
  <hr>
  <div>
    <% @lesson.meetings.each do |meeting|%>
      <div> Scheduled: <%= meeting. name %> | Date: From <%= meeting.start_time %> until <%= meeting.end_time%>
      <%= link_to edit_meeting_path(meeting) do %>
        <i class="fas fa-pen-square"></i>
      <% end %>

      <%= link_to meeting_path(meeting), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash-alt"></i>
      <% end %>
      </div>
      <hr>
    <% end %>

  </div>

  <%= simple_form_for [ @lesson, @meeting ] do |f| %>
    <%= f.input :name %>
    <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.submit "Create meeting", class: 'btn btn-outline-success' %>
  <% end %>



</div>
