    <% if @lesson.photo.attached?%>
      <div class="banner" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.12) 0, rgba(0,0,0,0.55) 74.4%),url('<%= cl_image_path @lesson.photo.key, crop: :thumb, gravity: :face %>')">
        <h1 class="text-center lesson-title"> <%= @lesson.title %></h1>
      </div>
    <% else %>
      <div class="banner" style="background-image: linear-gradient(to bottom, rgba(255,255,255,0.12) 0, rgba(0,0,0,0.55) 74.4%),url('<%= image_path 'lessons.jpg' %>')">
        <h1 class="text-center lesson-title"> <%= @lesson.title %></h1>
      </div>
    <% end %>
<div class='container'>




  <h3 class='pt-3 description'><%= @lesson.description %></h3>
  <h6 class='lesson-date'><%= @lesson.start_date %> | <%= @lesson.end_date %></h6>

    <div class='lesson-edit' >
      <div>
        <% if @lesson.user == current_user %>
          <%= link_to edit_lesson_path(@lesson) do %>
            <i class="fas fa-pen-square" style='display:inline;'></i>
          <% end %>

          <%= link_to lesson_path(@lesson), method: :delete, data: { confirm: "Are you sure?" }  do %>
            <i class="fas fa-trash-alt" style='display:inline;'></i>
          <% end %>
        <% end %>
        <hr class='mb-3' id='hr-1'>
        <% @lesson.meetings.each do |meeting|%>
          <h5 > Scheduled: <%= meeting. name %> <br> Date: From <%= meeting.start_time %> until <%= meeting.end_time%> <br> Contact student: <%= meeting.user.email %></h5>
              <% if meeting.user == current_user %>
                <%= link_to edit_meeting_path(meeting) do %>
                  <i class="fas fa-pen-square" style='display:inline;'></i>
                <% end %>
                |
                  <%= link_to meeting_path(meeting), method: :delete, data: { confirm: "Are you sure?" } do %>
                    <i class="fas fa-trash-alt" style='display:inline;'></i>
                  <% end %>
                |
              <% end %>

              <% if @lesson.user == current_user %>
                <%= link_to meeting_rooms_path(meeting), method: :post, class: 'btn-room' do %>
                  <span class='enter-room mt-2'><i class="fas fa-video" style='display:inline;'></i> | Enter Room</span>
                <% end %>
              <% end %>

          <hr class='mt-4'>
        <% end %>

    </div>
      <div class='w-100 justify-content-center'>
            <% if current_user != @lesson.user %>
          <%= simple_form_for [ @lesson, @meeting ] do |f| %>
            <%= f.input :name %>
            <div class='grid-date'>
              <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
              <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>
            </div>
            <%= f.submit "Create meeting", class: 'btn btn-outline-light mt-3 mb-3' %>
          <% end %>
        <% end %>
      </div>
    </div>

    <%  if @meeting.errors.keys.include? (:credits) %>
       <p class="bg-danger text-white p-3">insuficient credits</p>
    <% end %>
</div>
